.align {
    text-align: center;
    background-color: rgb(245, 245, 65);
    color: red;
    margin: 0px 300px;
    border: 5px double blue;
    text-shadow: 2px 2px 3px green;
    height: 50px;
}

body {
    background-color: paleturquoise;
}

.divBtn1 {
    width: 110px;
    height: 50px;
    background-color: rgb(26, 197, 26);
    color: purple;
    text-shadow: 2px 2px 3px red inset;
    text-align: center;
}

.btnPad1 {
    padding-top: 12px;
}

.link {
    text-decoration: none;
}