.table,
th,
td {
    border-collapse: collapse;
    border: 1px solid gray;
}

th {
    background-color: rgb(217, 255, 242);
    color: rgb(16, 92, 97);
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Roboto, sans-serif;
}

h5,
small {
    color: black;
}

small {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 10px;
    color: rgb(153, 148, 148);
}

.pad {
    padding-top: 15px;
    padding-bottom: 15px;
}

table {
    margin-left: 165px;
}

.foot {
    color: black;
}

.footDiv {
    margin-left: 140px;
    margin-top: 10px;
}